# Ignorar arquivos de chave
*.pem

# Ignorar pasta suport
suport/

# Ignorar outros arquivos e pastas comuns que não devem ser rastreados pelo Git
.DS_Store
*.log
*.tmp
node_modules/

# dependencies
application/node_modules/